/*=============================
=            Fonts            =
=============================*/

/**
 *
 * function($font-name, $size)
 *
 * use:
 *
 * typo('thin', 0rem) ........... 100
 * typo('thin-italic', 0rem) .... 100
 * typo('light', 1.2rem) ........ 300
 * typo('light-italic', 0rem) ... 300
 * typo('regular', 0rem) ........ 400
 * typo('regular-italic', 0rem) . 400
 * typo('medium', 0rem) ......... 500
 * typo('medium-italic', 0rem) .. 500
 * typo('semi-bold', 0rem) ...... 600
 * typo('bold', 0rem) ........... 700
 * typo('extra-bold', 0rem) ..... 800
 * typo('black', 0rem) .......... 900
 *
 */

typo($font-name, $size)
  font-family 'proxima-nova'

  if $font-name == 'thin'
    font-weight 100
    font-size $size

  else if $font-name == 'thin-italic'
    font-weight 100
    font-style italic
    font-size $size

  else if $font-name == 'light'
    font-weight 300
    font-size $size

  else if $font-name == 'light-italic'
    font-weight 300
    font-style italic
    font-size $size

  else if $font-name == 'regular'
    font-weight 400
    font-size $size

  else if $font-name == 'regular-italic'
    font-weight 400
    font-style italic
    font-size $size

  else if $font-name == 'medium'
    font-weight 500
    font-size $size

  else if $font-name == 'medium-italic'
    font-weight 500
    font-style italic
    font-size $size

  else if $font-name == 'semi-bold'
    font-weight 600
    font-size $size

  else if $font-name == 'bold'
    font-weight 700
    font-size $size

  else if $font-name == 'extra-bold'
    font-weight 800
    font-size $size

  else if $font-name == 'black'
    font-weight 900
    font-size $size

  else
    font-weight 400
    font-size 1.6rem



/**
 *
 * Font Icon
 *
 */

@font-face {
  font-family: 'icons';
  src: url('../fonts/icons.eot?rsa7s7');
  src: url('../fonts/icons.eot?rsa7s7#iefix') format('embedded-opentype'),
       url('../fonts/icons.ttf?rsa7s7') format('truetype'),
       url('../fonts/icons.woff?rsa7s7') format('woff'),
       url('../fonts/icons.svg?rsa7s7#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"],
[class*=" icon-"] {
  position relative
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-svg-85:before {
    content: "\e907";
}
.icon-svg-84:before {
    content: "\e900";
}
.icon-svg-83:before {
    content: "\e95e";
}
.icon-svg-82:before {
    content: "\e95d";
}
.icon-svg-78:before {
    content: "\e956";
}
.icon-svg-79:before {
    content: "\e957";
}
.icon-svg-80:before {
    content: "\e958";
}
.icon-svg-75:before {
    content: "\e92a";
}
.icon-svg-76:before {
    content: "\e953";
}
.icon-svg-77:before {
    content: "\e954";
}
.icon-svg-74:before {
    content: "\e955";
}
.icon-svg-73:before {
    content: "\e919";
}
.icon-svg-71:before {
    content: "\e91a";
}
.icon-svg-72:before {
    content: "\e91b";
}
.icon-svg-69:before {
    content: "\e917";
}
.icon-svg-70:before {
    content: "\e918";
}
.icon-svg-66:before {
    content: "\e910";
}
.icon-svg-672:before {
    content: "\e914";
}
.icon-svg-68:before {
    content: "\e916";
}
.icon-svg-652:before {
    content: "\e90e";
}
.icon-svg-642:before {
    content: "\e906";
}
.icon-svg-632:before {
    content: "\e90a";
}
.icon-svg-622:before {
    content: "\e90c";
}
.icon-svg-612:before {
    content: "\e905";
}
.icon-svg-602:before {
    content: "\e903";
}
.icon-svg-59:before {
    content: "\e904";
}
.icon-svg-582:before {
    content: "\e901";
}
.icon-svg-57:before {
    content: "\e94f";
}
.icon-svg-562:before {
    content: "\e950";
}
.icon-svg-55:before {
    content: "\e951";
}
.icon-svg-54:before {
    content: "\e952";
}
.icon-svg-532:before {
    content: "\e94e";
}
.icon-svg-522:before {
    content: "\e94d";
}
.icon-svg-512:before {
    content: "\e94c";
}
.icon-svg-482:before {
    content: "\e94b";
}
.icon-svg-502:before {
    content: "\e948";
}
.icon-svg-492:before {
    content: "\e949";
}
.icon-svg-47:before {
    content: "\e94a";
}
.icon-svg-46:before {
    content: "\e947";
}
.icon-svg-452:before {
    content: "\e943";
}
.icon-svg-442:before {
    content: "\e944";
}
.icon-svg-432:before {
    content: "\e945";
}
.icon-svg-422:before {
    content: "\e946";
}
.icon-svg-412:before {
    content: "\e942";
}
.icon-svg-382:before {
    content: "\e93f";
}
.icon-svg-392:before {
    content: "\e940";
}
.icon-svg-402:before {
    content: "\e941";
}
.icon-svg-372:before {
    content: "\e93e";
}
.icon-svg-362:before {
    content: "\e93d";
}
.icon-svg-352:before {
    content: "\e93b";
}
.icon-svg-342:before {
    content: "\e93c";
}
.icon-svg-6:before {
    content: "\e902";
}
.icon-svg-67:before {
    content: "\e93a";
}
.icon-svg-34:before {
    content: "\e911";
}
.icon-svg-35:before {
    content: "\e921";
}
.icon-svg-36:before {
    content: "\e922";
}
.icon-svg-37:before {
    content: "\e923";
}
.icon-svg-38:before {
    content: "\e924";
}
.icon-svg-39:before {
    content: "\e925";
}
.icon-svg-40:before {
    content: "\e926";
}
.icon-svg-41:before {
    content: "\e927";
}
.icon-svg-42:before {
    content: "\e928";
}
.icon-svg-43:before {
    content: "\e929";
}
.icon-svg-45:before {
    content: "\e92b";
}
.icon-svg-48:before {
    content: "\e92c";
}
.icon-svg-49:before {
    content: "\e92d";
}
.icon-svg-50:before {
    content: "\e92e";
}
.icon-svg-51:before {
    content: "\e92f";
}
.icon-svg-52:before {
    content: "\e930";
}
.icon-svg-53:before {
    content: "\e931";
}
.icon-svg-56:before {
    content: "\e932";
}
.icon-svg-58:before {
    content: "\e933";
}
.icon-svg-60:before {
    content: "\e934";
}
.icon-svg-61:before {
    content: "\e935";
}
.icon-svg-62:before {
    content: "\e936";
}
.icon-svg-63:before {
    content: "\e937";
}
.icon-svg-64:before {
    content: "\e938";
}
.icon-svg-65:before {
    content: "\e939";
}
.icon-svg-33:before {
    content: "\e920";
}
.icon-svg-31:before {
    content: "\e91e";
}
.icon-svg-32:before {
    content: "\e91f";
}
.icon-svg-7:before {
    content: "\e908";
}
.icon-svg-15:before {
    content: "\e90f";
}
.icon-svg-29:before {
    content: "\e91c";
}
.icon-svg-30:before {
    content: "\e91d";
}
