/*===============================
=            MIXIN's            =
===============================*/

/*
  use: selection()
  --
  +selection()
    color red
*/

selection()
  &::selection
    {block}

/*
  use: placeholder()
  --
  +placeholder()
    color red
*/

placeholder()
  &::-webkit-input-placeholder
    {block}
  &:-moz-placeholder
    {block}
  &::-moz-placeholder
    {block}
  &:-ms-input-placeholder
    {block}
