/*=================================
=            Variables            =
=================================*/

// color's
$color-base        = #595A59
$color-black       = #3C3C3B
$color-green       = #18AD47
$color-green-light = #70bf51
$color-ice         = #F8F8F8

// easing's
$easing-default    = cubic-bezier(0.4, 0.2, 0, 1)
$easing-out-back   = cubic-bezier(.16,.61,.12,1.5)
$easing-in-back    = cubic-bezier(0.6, -0.28, 0.735, 0.045)
